
FactoryDesignPattern/FactoryDesignPattern/bin/
FactoryDesignPattern/FactoryDesignPattern/obj/
FactoryDesignPattern/.vs/FactoryDesignPattern/v16/.suo
FactoryDesignPattern/FactoryDesignPattern.sln
FactoryDesignPattern/FactoryDesignPattern/FactoryDesignPattern.csproj
